
header{
    display:flex;
    background: #FFC300;
    padding: 5px;
    align-items:stretch;
    flex-wrap: nowrap;
    justify-content: start;
}

h1{
    text-align: center;
    margin-top: 5rem;
}
img{
    max-width: 100%;
    display: block;
}
.flex{
    display:flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}
.flex>div{
    flex: 200px;
    margin: 10px 10px;
}
.menu{
    display:flex;
}.menu li {
    margin-left: 10px;
    background-color: #FFC300;
}.menu li{
    display: block;
    padding: 8px;
    background:rgb(240, 230, 88);
    color: #FFC300;
}
.footer{
    background-color:#FFC300;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}