a {
    color: #000000;
    text-decoration: none;
    transition: 0.3;
}

a:hover {
    opacity: 0.7;
} 

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

i{
    font-size: 24px;
} 

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family:  'Nova Square', sans-serif;
    background:rgb(255, 255, 255);
    height: 12vh;   
} 

main {
    background-size: cover;

}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list, li {
    letter-spacing:4px ;
    margin-left: 32px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000000;
    margin: 5px;
    transition: 0.3s;

}

@media (max-width: 999px) {
    body{
        overflow-x: hidden;
    }
    .nav-list {
        position: fixed;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #ffffff;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: unset;
    } 
    .nav-list li{
        margin-left: 0;
        opacity: 0;
    }
    .mobile-menu {
        display: block
    }
}

.nav-list.active{
    transform: translateX(0);
} 

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}  

.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
    opacity: 0;
}
.mobile-menu.active .line3 {
   transform: rotate(45deg) translate(-5px, -7px);
} 

.mobile-menu.active .line4 {
    transform: rotate(45deg) translate(-5px, -7px);
 }

  /*image parte   */

 .image-slider {
    min-height: 30em;
    height: 100vh;
    position: relative;
    background-image: url(berserk.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: 0.3s;
} 

.image-slider * {
    box-sizing: border-box;
} 

.rubrica {
    background: linear-gradient(rgba(255, 169, 10, 0.082),#000000);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 4em 1em 2em 1em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

.caption h1 {
    margin: 0;
    color: #fff;
} 

p {
    color: #8a8a8a;
} 

.seta-esquerda, .seta-direita {
    background: #fff;
    position: absolute;
    top: 40%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
} 

.seta-esquerda:hover, 
.seta-direita:hover {
    background: #000;
    color: #fff;
}

.seta-esquerda {
    left: 1em;
} 


.seta-direita {
    right: 1em;
} 

.image-fade {
    animation: imgFade 0.5s ease-in-out;
} 

@keyframes imgFade {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 



