/* Não mecher nesse css abaixo até o ( lia:houver) ENTENDIDO😊 */
body{
 background-image: url(background.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
 p {
    color: rgb(160, 147, 216);
    margin: 10px;
    padding: 10px;
    font-size: 1.3rem;
}

img{
    max-width: 100%;
    display: block;
}
.flex{
    border: 2px solid #2e104d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    display:flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}.flex>div{
    flex: 200px;
    margin: 10px 10px;
} 
.lia {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  .lia:hover {
    opacity: 0.7;
  }
/* não meceher no css a cima*/