
body{
background-image: url(background.png);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;

}

.logo-header{
    width: 200px;
}
 p {
    color: white;
    margin: 10px;
    padding: 10px;
    list-style: none;
    font-size: 1.3rem;
    font-family: Arial;
}
a{
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(82, 18, 219, 0.534);
    color: black;
    border-radius: 10px;
    padding: 10px 40px;
    max-width: 100px;
    text-align: center;
}
h1{
    text-align: center;
    margin-top: 5rem;
}img{
    max-width: 100%;
    display: block;
}.flex{
    border: 2px solid #2e104d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.534);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    display:flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
}.flex>div{
    flex: 200px;
    margin: 10px 10px;
}
/* Código CSS para o banner */
.banner img{
    width: 100%;
    margin: 0 auto;
}
